# Default ignored files
/../../App productos /.idea/shelf/
/../../App productos /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../App productos /.idea/httpRequests/
# Datasource local storage ignored files
/../../App productos /.idea/dataSources/
/../../App productos /.idea/dataSources.local.xml
